* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #839C84 0%, #839C84 0.01%, #B5CBC1 100%);
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
}

ul{
    list-style: none;
}

.container {
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 90px 0;
}

/* --------header-------- */
.main-header {
    /* background: #748874; */
    background: black;
    color:#ffffff;
}

.main-header .container {
    max-width: 1700px;
    width: 90%;
}

.main-header .logo {
    font-size: 20px;
    font-weight: 600;
}

.main-header .drop-nav li {
    padding: 10px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 15px;
}

.main-header .header-flex a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    display: inline-block;
    transition: 0.2s ease;
}

.main-header .header-flex .logo-txt {
    /* color: #012C50; */
    color: white;
}

.main-header .nav-list a:hover {
    color: #839C84;
    transform: scale(1.1);
}

.main-header .burger {
    display: none;
}

.main-header .drop-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main-header .drop-nav a {
    width: 100%;
    /* border-bottom: 2px solid black; */
}
/* --------header over-------- */

/* --------big banner-------- */

.big-banner {
    background-image: url(assets/cat-black-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb-container {
    width: 90%;
    max-width: 1200px;
    word-spacing: 4px;
    text-align: center;
    color: #ffffff;
}

.bb-text {
    text-align: left;
}

.big-banner h2 {
    font-family: 'Righteous', cursive;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: rgba(131, 156, 132, 0.6);
}


.big-banner p {
    font-size: 30px;
    font-weight: 400;
    max-width: 400px;
    width: 90%;
}

.big-banner p span {
    font-size: 60px;
    font-family: 'Righteous', cursive;
}

/* --------big banner over-------- */

/* --------about-------- */

.about h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Righteous', cursive;
}

.about p {
    font-size: 20px;
    line-height: 1.4;
}

.about-flex {
    display: flex;
    gap: 50px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.about .left {
    background-image: url(assets/old-cat.jpg);
    background-size: cover;
    background-position: center;
    width: 30%;
    height: 400px;
}

.about .right {
    width: 70%;
    padding-right: 30px;
}
/* --------about done-------- */

/* --------gen-info-------- */
.info-flex {
    display: flex;
    justify-content: space-between;
}

.gen-info .card {
    width: calc((100% - 100px) / 4);
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.gen-info i {
    font-size: 70px;
    margin-bottom: 20px;
    color: #546554;
}

.gen-info h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* --------gen-info done-------- */

/* --------meet-------- */

.meet {
    padding-bottom: 150px;
}

.meet h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Righteous', cursive;
}

.meet i {
    font-size: 30px;
    background-color: white;
}

.img {
    background-size: cover;
    background-position: center;
    height: 380px;
    margin-bottom: 10px;
}

.meet .card {
    text-align: center;
}

.slick-slide{
    margin: 0 10px;
}

.slick-list{
	margin: 0 -10px;
}

.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: transparent;
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    transition: .4;
}

.slick-arrow:hover {
    border-radius: 50%;
    background-color: #B5CBC1;
}

.slick-arrow:before {
    content: url(assets/paw-icon.png);
    display: block;
    transform: translate(-50%, -50%) scale(0.25);
    position: absolute;
    top: 50%;
    left: 50%;
}

.slick-prev {
    right: 100%;
    transform: translateY(-50%) scaleX(-1);
}

.slick-next {
    /* left: calc(100% + 10px); */
    left: 100%;
}

.slick-dots {
    display: flex;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
}

.slick-dots li button {
    width: 20px;
    height: 10px;
    /* border-radius: 50%; */
    font-size: 0;
    border: none;
    background-color: #B5CBC1;
}

.slick-dots li.slick-active button {
    background-color: #839C84;
}

.img-1 {
    background-image: url(assets/ViscountDeMartyn.jpg);
}

.img-2 {
    background-image: url(assets/YounGloria.jpg);
}

.img-3 {
    background-image: url(assets/YourHighness.jpg);
}

.img-4 {
    background-image: url(assets/RazdolieGenevieve.jpg);
}

.img-5 {
    background-image: url(assets/RazdolieHunteria.jpg);
}

/* -------- meet done -------- */

/* --------cta photos-------- */
.cta-photo {
    background-image: url(assets/kitten.jpeg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    font-family: 'Righteous', cursive;
    text-align: center;
}

.cta-photo h3 {
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}
.cta-photo p {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
    /* color: rgb(1, 44, 80); */
    color: white;
}

.cta-photo a {
    font-size: 50px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(181, 203, 193, 0.6);
    color: black;
}

.cta-photo a:hover {
    background-color: rgba(181, 203, 193, 1);
}
/* --------cta photos done-------- */

/* cta */
.cta {
    background: url(assets/show.jpeg) rgba(181, 203, 193, 0.6);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.cta p {
    font-size: 70px;
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
    color: white;
}

.cta a {
    font-family: 'Righteous', cursive;
    color: rgb(1, 44, 80);
    text-decoration: none;
    font-size: 30px;
    border: 5px solid rgb(1, 44, 80);;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(181, 203, 193, 0.6);
}

.cta a:hover {
    background-color: rgba(181, 203, 193, 1);
}

/* cta done */

/* contact form */

.contact h3 {
    margin-bottom: 30px;
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

.form-cont {
    background-color: #E9E9E9;

    border-radius: 15px;
    position: relative;
}
.contact input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(181, 203, 193);
}

.contact textarea {
    display: block;
    padding: 15px;
    width: 100%;
    height: 210px;
    border: none;
    border-radius: 10px;
    background-color: rgb(181, 203, 193);
}

.contact .form-flex {
    display: flex;
    gap: 30px;
}

.contact .left {
    width: 60%;
    padding: 40px;
}

.contact .right {
    width: 40%;
    background: url(assets/cat-smile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 15px 15px 0;
}

.contact #message {
    margin-bottom: 30px;
}

.form-cont {
    position: relative;
}

.contact .form-flex .left input {
    margin-bottom: 20px;
}

.contact input[type="submit"] {
    font-size: 20px;
    font-family: 'Righteous', cursive;
    width: 100%;
    background-color: #839C84;
}

.contact input[type="submit"]:hover {
    background-color: rgba(1, 44, 80, 0.7);
}

.cat-face-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    opacity: 0; /* Initially hidden */
    transform: scale(0); /* Initially scaled down to 0 size */
    transition: opacity 1s, transform 1s; /* Apply a transition for a smooth reveal and scale */
}

/* Define an animation for the enlargement effect */
@keyframes enlarge {
    0% {
        transform: translate(-50%, -50%) scale(0); /* Start from scaled-down size */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* End at full size */
    }
}

/* Define an animation for the disappearance effect */
@keyframes disappear {
    0% {
        opacity: 1; /* Start from fully visible */
    }
    100% {
        opacity: 0; /* End with complete disappearance */
    }
}
/* contact form done */

/* footer */

footer {
    background-color: black;
    color: rgb(181, 203, 193);
    padding: 80px 0;
}

footer h3 {
    color: white;
}

.footer-flex {
    display: flex;
    margin-bottom: 40px;
    gap: 80px;
}

footer img {
    height: 80px;
}

footer .left {
    width: 25%;
}

footer .left p {
    margin-bottom: 20px;
}

footer .left h3 {
    margin-bottom: 15px;
}

footer .cert-grid {
    margin-bottom: 30px;
}

footer .social-flex {
    display: flex;
    gap: 15px;
    font-size: 20px;
    justify-content: center;
}

footer .social-flex i:hover {
    transform: scale(1.3);
    color: #839C84;
}

footer .middle {
    display: flex;
    flex-direction: column;
}

footer .middle a {
    text-decoration: none;
    color: rgb(181, 203, 193);
}

footer .middle a:hover {
    text-decoration: underline;
    color: rgb(181, 203, 193);
    transform: scale(1.1);
    color: #839C84;
}
/* footer done*/

#goUpButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #839C84;
    /* padding: 10px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

#goUpButton:hover {
    opacity: 1;
}

#goUpButton img {
    width: 30px;
    height: 30px;
}

/* responsive */

@media only screen and (max-width: 992px) {
    .about p {
        font-size: 16px;
    }
    
    .about-flex {
        gap: 40px;
    }

    .about .left {
        height: 350px;
    }

    /* about */
    .img {
        height: 260px;
    }

    .meet .container {
        max-width: 800px;
    }

    .slick-prev {
        right: calc(100% - 25px);
    }
    
    .slick-next {
        left: calc(100% - 25px);
    }

    .cta-photo {
        padding: 80px 0;
    }
    
    .cta-photo h3 {
        font-size: 95px;
    }
    
    .cta-photo a {
        font-size: 40px;
    }

    .info-flex {
        flex-wrap: wrap;
        gap: 40px;
    }
    
    .gen-info .card {
        width: calc((100% - 80px) / 2);
    }

    .cta {
        padding: 70px 0;
    }

    .cta p {
        font-size: 60px;
    }
    
    .cta a {
        font-size: 20px;
    }

    .contact input[type="submit"] {
        width: 100%;
    }

    footer img {
        height: 60px;
    }

    .footer-flex {
        gap: 60px;
    }

    .slick-arrow {
        background-color: #B5CBC1;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .big-banner h2 {
        color: rgba(131, 156, 132, 1);
        font-size: 70px;
    }

    .main-header .burger {
        display: block;
    }

    .about-flex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .about .left {
        width: 100%;
    }
    
    .about .right {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .slick-prev {
        right: calc(100% - 50px);
    }
    
    .slick-next {
        left: calc(100% - 50px);
    }

    .slick-arrow {
        border-radius: 50%;
        background-color: rgba(181, 203, 193, 0.6);
    }

    .cta-photo {
        padding: 40px 0;
    }

    .cta-photo p {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .cta-photo h3 {
        font-size: 60px;
    }
    
    .cta-photo a {
        font-size: 30px;
        border: 4px solid black;
        padding: 5px;
    }

    .gen-info .card {
        width: 100%;
    }

    .cta {
        padding: 50px 0;
    }

    .cta p {
        font-size: 50px;
    }
    
    .cta a {
        font-size: 18px;
    }

    .contact h3 {
        font-size: 40px;
    }
    
    .contact .left {
        width: 100%;
    }
    
    .contact .right {
        display: none;
    }

    .footer-flex {
        flex-wrap: wrap;
        text-align: center;
    }

    footer .left {
        width: 100%;
    }

    footer .middle {
        width: 100%;
    }

    footer .right {
        width: 100%;
    }
    .img {
        height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    
}